body {
  margin: 0;
}

@media (max-width: 480px) {
  /* Stili per dispositivi mobili */
  aside {
    width: 0%;
  }

  main {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Stili per tablet */
  aside {
    width: 0%;
  }

  main {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  /* Stili per laptop */
  aside {
    width: 10%;
  }

  main {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  /* Stili per desktop */
  aside {
    width: 20%;
  }

  main {
    width: 60%;
  }
}

.hover-underline:hover {
  text-decoration: underline; /* sottolinea al passaggio del mouse */
}

*{
  font-family: "Roboto Condensed";
}

.card-brano-button {
  cursor: pointer;
  background-color: #fafafa;
  border-style: none;
}

.card-brano-button:hover {
  background-color: #fcfcfc;
}

.card-brano-button:active {
  background-color: #f0f0f0;
}